In [1]:
# Import Statements
import pandas as pd
import numpy as np
import difflib

### Brewery Data

In [2]:
# Load Data
breweries = pd.read_csv('Data/wa_breweries.csv')

In [3]:
# View Data
breweries.head(5)

,brewery,satellite_location,brewery_type,address,city,zipcode,county,latitude,longitude,year_established,guild_member,production_data_2017,production_data_2022,closed_since_2022,untappd_profile_link
0,192 Brewing Company,Mount Vernon,taproom,1405 South 2nd Street,Mount Vernon,98273,Skagit,48.41177416,-122.3379704,2010,1,1,1,1,https://untappd.com/192BrewingCo
1,192 Brewing Company,NaN,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.7566771,-122.2425016,2010,1,1,1,0,https://untappd.com/192BrewingCo
2,20 Corners Brewing Company,NaN,brewpub,14148 NE 190th St - Suite A,Woodinville,98072,King,47.76506654,-122.1510149,2016,0,1,1,0,https://untappd.com/20CornersBrewingCompany
3,210 Brewing Company,NaN,taproom,3438 Stoluckquamish Lane,Arlington,98223,Snohomish,48.2135319,-122.1848541,2015,1,1,0,0,https://untappd.com/210Brewing
4,23rd Ave Brewery,NaN,micro,2313 S Jackson St,Seattle,98144,King,47.59927,-122.3018,2018,0,0,1,0,https://untappd.com/23rdAveBrewery

In [4]:
# Data Info
breweries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brewery               453 non-null    object
 1   satellite_location    65 non-null     object
 2   brewery_type          453 non-null    object
 3   address               453 non-null    object
 4   city                  453 non-null    object
 5   zipcode               453 non-null    int64
 6   county                453 non-null    object
 7   latitude              453 non-null    object
 8   longitude             453 non-null    object
 9   year_established      453 non-null    int64
 10  guild_member          453 non-null    int64
 11  production_data_2017  453 non-null    int64
 12  production_data_2022  453 non-null    int64
 13  closed_since_2022     453 non-null    int64
 14  untappd_profile_link  453 non-null    object
dtypes: int64(6), object(9)
memory usage: 53.2+ KB

### Production Data

In [5]:
# Method for cleaning production data
def clean_prod_df(df):
    
    # rename columns
    df = df.rename(columns={'Brewery':'brewery',
        '1':'January',    '2':'February', '3':'March',     '4':'April',
        '5':'May',        '6':'June',     '7':'July',      '8':'August',
        '9':'September', '10':'October', '11':'November', '12':'December'})
    
    # reorder columns
    df = df[['brewery','January','February','March','April','May','June',
             'July','August','September','October','November','December']]
    
    # remove certain breweries
    brews_to_remove = ['ANHEUSER-BUSCH','MILLERCOORS','MARK ANTHONY BRANDS','PABST BREWING',
                       'THE BOSTON BEER COMPANY','NEW BELGIUM','SIERRA NEVADA BREWING']
    #df = df[~df['brewery'].isin(brews_to_remove)]
    
    return df

In [6]:
# Method for consistent brewery names
def update_names(df):
    
    # remove periods
    df['brewery'] = df['brewery'].str.replace('.','')
    
    # replace end 'co' with 'company'
    df['brewery'] = np.where(df['brewery'].str[-2:] == 'CO',
                             df['brewery'].str[:-2] + 'COMPANY',
                             df['brewery'])

    # replace '&'' and 'and'
    df['brewery'] = df['brewery'].str.replace('&','AND')
    
    return df

In [7]:
# Method for getting summed annual production
def get_annual(df):
    df['annual_production'] = df.iloc[:,1:].sum(axis=1)
    return df

#### 2022 Production Data

In [8]:
# Load Data
production_2022 = pd.read_csv('Data/Production/brewery_monthly_production_2022.csv')

In [9]:
# Clean Data
production_2022 = clean_prod_df(production_2022)
production_2022 = update_names(production_2022)

In [10]:
# Sum Months
production_2022 = get_annual(production_2022)

In [11]:
# View Data
production_2022.head(5)

,brewery,January,February,March,April,May,June,July,August,September,October,November,December,annual_production
0,ANHEUSER-BUSCH,82718.39,86605.20,98521.98,84711.58,99589.33,92468.25,109179.90,121777.66,92403.54,82934.26,70992.27,69647.65,1091550.01
1,MILLERCOORS,72612.34,62743.02,77260.51,81442.02,93336.98,86396.11,84828.92,92874.04,88021.50,64324.32,73882.35,52628.00,930350.11
2,MARK ANTHONY BRANDS,22059.64,24801.43,39612.35,29996.00,42147.28,35631.05,23886.75,24572.94,31030.51,33271.36,19960.46,9499.35,336469.12
3,PABST BREWING,14641.35,12214.09,12939.65,9765.34,31595.86,19194.70,18157.79,17224.35,18875.10,15312.95,12107.57,13345.76,195374.51
4,GEORGETOWN BREWING COMPANY,6409.97,6503.01,8538.23,8672.18,8855.93,9571.99,8722.62,10193.51,9227.20,8985.20,9315.17,7380.14,102375.15

In [12]:
# Data Info
production_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brewery            865 non-null    object
 1   January            510 non-null    float64
 2   February           552 non-null    float64
 3   March              536 non-null    float64
 4   April              531 non-null    float64
 5   May                536 non-null    float64
 6   June               539 non-null    float64
 7   July               543 non-null    float64
 8   August             543 non-null    float64
 9   September          562 non-null    float64
 10  October            528 non-null    float64
 11  November           574 non-null    float64
 12  December           532 non-null    float64
 13  annual_production  865 non-null    float64
dtypes: float64(13), object(1)
memory usage: 94.7+ KB

### Name Match Table

In [13]:
# function for matching names
def match_names(prod_data, brewery_data):    

    # brewery names to test from
    names = []
    for n in brewery_data['brewery'].unique():
        n2 = n.lower().replace(' company','').replace(' brewery',' brewing')
        names.append((n,n2))

    # match to production data names
    prod_name_match = []
    for name in prod_data['brewery'].unique():
        name_test = name.lower().replace(' company','').replace(' inc','').replace(
            ' brewery',' brewing').replace(' -','').replace(' taproom','')
        matches = difflib.get_close_matches(name_test, [n[1] for n in names], cutoff=0.90)
        if len(matches) > 0:
            m = matches[0]
            best_match = [n[0] for n in names if n[1] == m][0]
        else:
            best_match = None
        prod_name_match.append((name, best_match))
        
    return pd.DataFrame(prod_name_match, columns =['brewery_production', 'brewery_name'])

In [14]:
# 2022 production matching
prod_name_match_22 = match_names(production_2022, breweries)

### Merge Data on Match Table

In [15]:
cols = ['brewery','brewery_name','January','February','March','April','May',
        'June','July','August','September','October','November','December','annual_production']

In [16]:
# 2022 data
breweries_2022 = production_2022.merge(prod_name_match_22, how='inner', 
                                       left_on='brewery', right_on='brewery_production')
breweries_2022 = breweries_2022[cols]

In [19]:
breweries_2022.sort_values(by='annual_production', ascending=False).head(50)

,brewery,brewery_name,January,February,March,April,May,June,July,August,September,October,November,December,annual_production
0,ANHEUSER-BUSCH,None,82718.39,86605.20,98521.98,84711.58,99589.33,92468.25,109179.90,121777.66,92403.54,82934.26,70992.27,69647.65,1091550.01
1,MILLERCOORS,None,72612.34,62743.02,77260.51,81442.02,93336.98,86396.11,84828.92,92874.04,88021.50,64324.32,73882.35,52628.00,930350.11
2,MARK ANTHONY BRANDS,None,22059.64,24801.43,39612.35,29996.00,42147.28,35631.05,23886.75,24572.94,31030.51,33271.36,19960.46,9499.35,336469.12
3,PABST BREWING,None,14641.35,12214.09,12939.65,9765.34,31595.86,19194.70,18157.79,17224.35,18875.10,15312.95,12107.57,13345.76,195374.51
4,GEORGETOWN BREWING COMPANY,Georgetown Brewing Company,6409.97,6503.01,8538.23,8672.18,8855.93,9571.99,8722.62,10193.51,9227.20,8985.20,9315.17,7380.14,102375.15
5,THE BOSTON BEER COMPANY,None,3056.21,2724.61,3761.62,3357.87,4855.17,5803.01,7263.81,7718.43,6886.15,3802.92,2762.91,3090.52,55083.23
6,NEW BELGIUM,None,3567.93,2112.34,3189.83,2980.10,2715.33,3725.36,2884.57,4440.04,4239.42,3538.82,3122.40,3416.08,39932.22
7,DIAGEO BEER COMPANY USA,None,4204.22,3413.72,2931.30,2733.89,3776.29,3166.45,3529.43,3981.16,3967.10,2732.01,687.68,4138.71,39261.96
8,DESCHUTES BREWERY,None,2784.95,2392.97,3029.71,3785.88,2991.46,1271.15,3561.34,4077.64,3464.07,3915.37,1763.42,2671.91,35709.87
9,HEINEKEN USA INCORPORATED,None,6687.80,NaN,8402.11,3097.78,NaN,7593.14,6298.72,NaN,NaN,NaN,NaN,NaN,32079.55
10,FREMONT BREWING,Fremont Brewing Company,2466.78,2144.60,2800.91,2536.74,2616.72,3077.69,2720.60,2731.87,2819.80,2050.42,2435.67,3229.78,31631.58
12,MAC AND JACKS BREWERY INC,Mac and Jack's Brewing Company,1951.90,1841.37,1780.41,2036.64,2171.85,2776.15,2052.96,2412.73,2378.33,2225.78,1902.20,1755.14,25285.46
11,MPL BRANDS NV INC,None,NaN,1577.62,5540.52,332.86,NaN,3321.29,6642.59,3321.29,NaN,3472.26,NaN,460.46,24668.89
13,REUBENS BREWS,Reuben's Brews,1705.85,1676.63,1933.15,2070.59,2077.57,2519.17,2303.87,2617.09,2433.18,1740.98,1709.33,1592.80,24380.21
15,MCKENZIE RIVER BREWING,None,1592.55,1355.30,1764.65,1857.45,2063.95,1558.16,1887.08,1969.63,2204.07,2085.20,1968.30,1729.77,22036.11
14,BALE BREAKER BREWING,Bale Breaker Brewing Company,1535.06,1276.72,1822.97,1900.88,1802.26,2140.11,2302.83,2282.84,1709.75,1536.51,2088.51,1416.19,21814.63
16,SIERRA NEVADA BREWING,None,1986.21,1226.04,1555.93,2078.03,1793.85,1758.16,1599.29,2035.30,2095.25,1431.73,1521.78,1250.07,20331.64
17,SILVER CITY BREWERY,Silver City Brewery,1248.72,1516.41,101.71,2372.86,2621.80,2218.78,1417.50,2169.09,1722.27,1524.62,1617.34,1591.01,20122.11
19,PHUSION PROJECTS,None,1996.10,534.71,1395.43,2146.99,792.21,1487.40,892.83,1544.71,2426.68,994.56,2619.58,2291.14,19122.34
18,SCHOONER EXACT BREWING,None,-37.89,2567.50,2582.51,848.41,1477.33,1873.63,-170.53,6889.21,-70.33,1843.76,513.11,712.39,19029.10
20,ALASKAN BREWING COMPANY,None,158.15,1561.19,1665.52,1986.35,2329.04,1605.37,773.64,1117.23,1139.28,1408.52,777.53,702.09,15223.91
21,NINKASI BREWERY,None,1384.46,1014.57,856.75,1133.69,1283.50,1220.72,1508.98,1121.61,1334.95,1521.46,933.52,1034.54,14348.75
22,NO-LI BREWHOUSE,No-Li Brewhouse,742.06,954.51,1113.38,1408.57,1056.81,1246.70,1396.96,1295.50,1409.41,1226.51,1029.92,1344.53,14224.86
25,IRON HORSE BREWERY,Iron Horse Brewery,998.40,1430.10,1344.42,1093.89,955.27,1146.92,1135.27,1237.49,1070.83,967.29,-41.19,1979.11,13317.80
24,ELYSIAN BREWING COMPANY,Elysian Brewing,874.69,780.65,-101.03,2182.40,1447.50,947.41,1211.80,1545.98,1207.30,1627.50,507.17,732.50,12963.87
23,THE ODOM CORPORATION,None,1227.02,1891.45,1684.84,1630.62,2297.91,2243.34,1710.65,NaN,NaN,NaN,NaN,NaN,12685.83
26,PFRIEM FAMILY BREWERS,None,679.43,690.89,1090.49,827.26,952.53,1048.89,971.54,1197.73,1035.21,902.47,653.78,711.31,10761.53
27,KULSHAN BREWING COMPANY,Kulshan Brewing Company,557.32,614.75,723.39,744.51,899.58,862.93,964.32,1149.50,801.48,639.59,800.22,610.50,9368.09
28,ICICLE BREWING COMPANY,Icicle Brewing Company,550.86,555.02,828.06,608.05,697.81,927.36,931.51,812.67,1012.73,803.42,732.53,752.14,9212.16
29,THE LAGUNITAS BREWING,None,653.04,659.76,1261.39,1165.13,332.56,-0.07,1053.96,932.96,791.96,-2.57,1016.83,492.07,8357.02
31,FORT GEORGE BREWERY,None,577.59,408.46,856.96,558.56,825.01,921.18,669.92,737.09,862.18,487.99,574.52,641.38,8120.84
30,HIGH FALLS OPERATING COMPANY,None,564.93,812.89,896.31,724.58,-2.46,646.68,915.58,1833.25,921.04,239.13,231.06,142.80,7925.79
32,PELICAN PUB AND BREWERY,None,587.35,557.58,685.70,754.76,790.04,618.64,658.72,-24.18,-3.40,2082.18,497.96,505.50,7710.85
37,BAYFRONT BREWERY,None,858.59,98.19,338.87,590.72,755.60,916.13,-50.57,612.53,944.98,798.99,-2.00,1433.62,7295.65
35,ODOM COA LICENSING LLC,None,NaN,NaN,NaN,NaN,NaN,-435.63,69.29,1782.27,1210.36,1820.32,1457.64,1236.61,7140.86
34,FOUNDERS BREWING COMPANY,None,451.91,700.07,526.48,862.39,529.96,886.23,608.59,639.51,629.86,282.07,554.18,418.86,7090.11
33,WORTHY BREWING,None,NaN,43.80,NaN,48.41,21.05,NaN,59.42,6624.30,NaN,NaN,54.59,NaN,6851.57
36,GORDON BIERSCH BREWING,None,287.42,390.19,602.73,305.73,448.58,741.21,833.51,820.69,847.47,37.45,581.79,344.91,6241.68
38,STONE BREWING COMPANY,None,456.92,315.12,390.71,432.07,592.68,737.81,497.76,508.12,446.51,456.42,445.21,341.44,5620.77
39,BOUNDARY BAY BREWERY AND,Boundary Bay Brewery,304.31,416.68,495.10,559.19,458.02,613.18,577.56,461.11,538.55,477.46,372.26,340.11,5613.53
40,FULL SAIL BREWING COMPANY,None,404.93,404.93,471.85,825.34,440.18,590.50,342.63,768.39,528.07,377.56,108.87,220.31,5483.56
41,STOUP BREWING,Stoup Brewing,301.94,420.30,480.97,448.93,466.55,566.31,481.77,523.95,542.94,480.20,371.95,391.10,5476.91
42,ECLIPTIC BREWING,None,380.76,396.77,590.32,-18.23,816.92,563.63,532.42,520.86,490.67,298.55,401.36,337.14,5311.17
43,ASLAN BREWING COMPANY,Aslan Brewing Company,362.67,329.33,483.91,472.59,394.46,557.23,502.50,624.47,356.63,366.27,404.17,360.64,5214.87
44,7 SEAS BREWING,7 Seas Brewing Company,315.96,336.01,305.77,481.85,442.82,544.22,609.43,563.28,416.25,417.86,276.61,432.00,5142.06
45,SCUTTLEBUTT BREWING COMPANY,Scuttlebutt Brewing Company,311.30,279.20,325.26,448.99,383.76,499.67,464.24,406.59,386.33,353.16,255.78,321.87,4436.15
46,PIKE BREWING COMPANY AND,None,264.72,222.27,300.07,307.71,301.03,527.75,349.19,375.46,468.11,508.14,420.38,367.06,4411.89
47,DRU BRU,Dru Bru,206.37,302.96,337.66,302.57,327.29,442.43,433.26,466.01,519.14,314.67,360.73,365.75,4378.84
48,BREAKSIDE BREWERY,None,257.92,392.44,351.12,280.62,354.41,434.55,297.09,496.77,424.69,216.69,297.22,371.42,4174.94
49,CHUCKANUT BREWERY,Chuckanut Brewery,263.40,283.30,465.20,291.10,351.45,389.80,349.30,457.60,322.60,-1.50,591.30,252.11,4015.66

In [20]:
breweries_2022[breweries_2022['brewery_name'].isna()]['brewery'].unique()

array(['ANHEUSER-BUSCH', 'MILLERCOORS', 'MARK ANTHONY BRANDS',
       'PABST BREWING', 'THE BOSTON BEER COMPANY', 'NEW BELGIUM',
       'DIAGEO BEER COMPANY USA', 'DESCHUTES BREWERY',
       'HEINEKEN USA INCORPORATED', 'MPL BRANDS NV INC',
       'MCKENZIE RIVER BREWING', 'SIERRA NEVADA BREWING',
       'SCHOONER EXACT BREWING', 'PHUSION PROJECTS',
       'ALASKAN BREWING COMPANY', 'NINKASI BREWERY',
       'THE ODOM CORPORATION', 'PFRIEM FAMILY BREWERS',
       'THE LAGUNITAS BREWING', 'HIGH FALLS OPERATING COMPANY',
       'FORT GEORGE BREWERY', 'PELICAN PUB AND BREWERY', 'WORTHY BREWING',
       'FOUNDERS BREWING COMPANY', 'ODOM COA LICENSING LLC',
       'GORDON BIERSCH BREWING', 'BAYFRONT BREWERY',
       'STONE BREWING COMPANY', 'FULL SAIL BREWING COMPANY',
       'ECLIPTIC BREWING', 'PIKE BREWING COMPANY AND',
       'BREAKSIDE BREWERY', 'C STEIN', 'ASSOCIATED BREWING COMPANY',
       'FIRESTONE WALKER BREWING', 'MATCHLESS',
       'UNITED BRANDS COMPANY INC', 'BUOY BEER COMPANY',
       'SAZERAC COMPANY INC', 'GREAT NOTION BREWING AND',
       'OSKAR BLUES BREWERY', 'JUNESHINE', 'RAM BREWERY',
       'UNITED BRANDS LLC', 'SAN JUAN BREWING COMPANY', 'SAPPORO USA',
       'SPOETZL BREWERY', 'BIG SKY BREWING COMPANY',
       'CRUX FERMENTATION PROJECT', 'MCMENAMINS ANDERSON SCHOOL',
       '54-40 BREWING COMPANY', 'LOST COAST BREWERY AND CAFE',
       'FERMENTED SCIENCES II', 'GOODLIFE BREWING COMPANY',
       'MCMENAMINS ELKS TEMPLE', 'MPL BRANDS NV',
       'BELCHING BEAVER BREWERY', 'BAYERN BREWING',
       'BAINBRIDGE ISLAND BREWING', 'BLOCK 15 BREWING COMPANY',
       'LOVERBOY', 'CRUX FREMENTATION PROJECT',
       'NORTH COAST BREWING COMPANY', 'DOUBLE MOUNTAIN BREWERY AND',
       'CHICAGO AMERICA HOLDING', 'ANDERSON VALLEY BREWING',
       'PENN COVE TAPROOM', 'ARTISANAL IMPORTS',
       'EEL RIVER BREWING COMPANY', 'PITTSBURGH BREWING COMPNAY',
       'LEFT HAND BREWING COMPANY', 'MEATHEADS SMOKEHOUSE AND',
       'ZOIGLHAUS BREWING COMPANY', 'MCMENAMINS KALAMA HARBOR',
       'LEVEL BEER', 'BODACIOUS BERRIES FRUITS',
       'THREE CREEKS BREWING COMPANY', 'ANCHORAGE BREWING COMPANY',
       'TRUMER BRAUEREI', 'MELVIN BREWING COMPANY',
       'SOUND2SUMMIT BREWERY', 'TWELVE PERCENT', 'FAST FASHION',
       'WAYFINDER BEER', 'SILVER MOON BREWING', 'HALES ALES LTD',
       'FLYING BIKE COOPERATIVE', 'GLOBAL BEER COMPANY',
       'WELL 80 ARTESIAN BREWING', 'COOP ALE WORKS',
       'NORTHWEST BREWERY WORKS', 'EX NOVO BREWING COMPANY',
       'ECHOES BREWING COMPANY LLC', 'WENATCHEE BREWING COMPANY',
       'NORTH FORK', 'TERRAMAR', 'CENTRAL BEER IMPORT AND',
       'FERMENT BREWING COMPANY', 'MOTHER EARTH BREW COMPANY',
       'RATTLESNAKE MOUNTAIN', 'CAMO BREWING CO INC',
       '5 RIGHTS BREWING LLC', 'COUNTERBALANCE BREWING',
       'MAGNUSON BREWERY', 'ELLIOTT BAY PUBLIC HOUSE AND',
       'VICTOR 23 BREWING', 'RUSE BREWING', '21ST AMENDMENT',
       'THE GOOD SOCIETY', 'BOMBASTIC BREWING',
       'YAKIMA CRAFT BREWING COMPANY', 'OCCIDENTAL BREWING COMPANY',
       'MAUI BREWING COMPANY', 'WALLA WALLA STEAK CO/CROSS',
       'SPINDRIFT SPIKED CO LLC', 'DIVINE NECTAR INC',
       'CASCADE LAKES BREWING COMPANY', 'TERMINAL GRAVITY BREWING',
       'GLACIER BREWHOUSE', 'WANDERING HOP', 'MILLENNIUM PRODUCTS',
       'WELDWERKS BREWING COMPANY', 'REVISION BREWING COMPANY',
       'MIGRATION BREWING', 'UINTA BREWING COMPANY', 'KELLS BREWPUB',
       'FLYERS RESTAURANT AND', 'TIMBER CITY GINGER BEER',
       'JEREMIAH JOHNSON BREWING', 'GOOD HARD SELTZER', 'XYZ BEVERAGE',
       'POWERHOUSE RESTAURANT AND', 'PENN COVE BREWING CO LLC',
       'COMMON LANGUAGE BREWING', 'GLORYBUCHA KOMBUCHA', 'OCTOPI BREWING',
       'GIGANTIC BREWING COMPANY', 'BEAR REPUBLIC BREWING',
       'LAUGHING DOG BREWING', 'TTS OLD IRON BREWERY AND BBQ',
       'OAKSHIRE BREWING', 'MT TABOR BREWING COMPANY',
       'SUZIES BREWERY COMPANY', 'AVERY BREWING COMPANY', 'RUZZO',
       'AT LARGE BREWING AND', 'ELLIOTT BAY BREWERY AND PUB',
       'MCMENAMINS EDGEFIELD', 'MONKLESS BELGIAN ALES',
       'BALLAST POINT BREWING COMPANY', 'MILLWOOD BREWING COMPANY',
       'COMMUNITEA KOMBUCHA', 'ABITA BREWING COMPANY LLC',
       'SQUEEZE HARD SELTZER', 'LITTLE BEAST BREWING',
       'KINGS AND DAUGHTERS BREWERY', 'LAURELWOOD BREWING COMPANY',
       'HARVESTER BREWING', 'SMOKING MOS', 'TWELVE PERCENT LLC',
       'CLAIM 52 BREWING', 'BOTTLE LOGIC BREWING LLC',
       'EVASION BREWING INC', 'EQUILIBRIUM BREWERY',
       'OTHER HALF BREWING COMPANY', 'CHIEF SPRINGS FIRE AND IRONS',
       'CALDERA BREWING COMPANY', 'ASCENDANT BEER COMPANY',
       'DUVEL MOORTGAT USA', 'SLAUGHTER COUNTY BREWING',
       'ANOTHER ROUND BREWING COMPANY', 'ALESMITH BREWING COMPANY',
       'SWEETWATER BREWING COMPANY', 'HEATER ALLEN BREWING',
       'MOUNTAINS WALKING BREWERY', 'STICKMEN BREWING COMPANY',
       'DRUNK FRUIT', 'BORA ENTERPRISES', 'ANCESTRY BREWING',
       'MORTALIS BREWING COMPANY', 'PRESTIGE BEVERAGE GROUP',
       'BEVERAGE INNOVATION CORP', 'POST FALLS BREWING COMPANY',
       'FAT HEADS BREWERY', 'WALLACE BREWING', 'FIVE STAR BREWING CO INC',
       'UPRIGHT BREWING COMPANY', 'MT BREW', 'EPIC BREWING COMPANY',
       'SASQUATCH BREWERY', 'PARISH BREWING COMPANY', '903 BREWERS',
       'REDHOOK ALE BREWERY', 'PRAIRIE ARTISAN ALES',
       'IMPRINT BEER COMPANY', 'PAYETTE BREWING COMPANY',
       'WILD RIDE BREWING', 'STORMBREAKER BREWING', 'JIANT KOMBUCHA',
       'REVOLUTION BEER LLC', 'REMLINGER FARMS', 'PARK STREET IMPORTS',
       'SADDLE ROCK PUB', 'MARTIN HOUSE BREWING',
       'TRICKSTERS BREWING COMPANY', 'NEW IMAGE BREWING COMPANY',
       'SHADES BREWING', 'FOB BREWING COMPANY', 'NUDE BEVERAGES USA',
       'TRIMTAB BREWING COMPANY', 'GENUS BREWING AND SUPPLY',
       'BEER TREE BREW COMPANY', 'ATWOOD ALES', 'THE BRUERY',
       'FICKS AND COMPANY', 'BIERLY BREWING', 'ALE SPIKE',
       'VIKS DISTRIBUTORS', 'REEDS INC DBA REEDS (DE)',
       'EAST END BREWING COMPANY', 'FIELDWORK BREWING COMPANY',
       'MASTHEAD BREWING COMPANY', 'JM CELLARS COMPANY',
       'HOP BUTCHER FOR THE WORLD', 'VASHON BREWING LLC',
       'TILTED TREE HARD CIDER', 'MAGNIFY BREWING COMPANY',
       'OLD TOWN BREWING COMPANY', 'BURLEY OAK BREWING COMPANY',
       'HOPPIN FROG LIMITED', 'HIGH WATER BREWING',
       'DIAMOND KNOT BREWPUB @ MLT', 'TROOBADO', 'TAKARA SAKE USA',
       'PAPAS CASINO RESTAURANT AND', 'WESTBROOK BREWING COMPANY',
       'MODIST BREWING COMPANY', 'ELDER PINE BREWING AND',
       'MOONRAKER BREWING', 'GRIMM ARTISANAL ALES', 'RIVER NORTH BREWERY',
       'UNE ANNEE BREWERY', 'YAKIMA VALLEY HOPS',
       'UNITY VIBRATION LIVING', 'CYCLE BREWING', 'YAKIMA CHIEF HOPS',
       'EL SEGUNDO BREWING COMPANY', 'THE BREWING PROJEKT',
       'HARDYWOOD PARK CRAFT', 'FERNDALE PROJECT', 'TAXMAN BREWING LLC',
       'MORE BREWING COMPANY', 'RIVER STYX BREWING',
       'LA CENTER BREWING LLC', 'TRANSIENT ARTISAN ALES',
       'ASIAN BROTHERS BREWING COMPANY', 'THRESHOLD BREWING AND',
       'BEARDED IRIS BREWING', 'LUPULIN BREWING',
       'HAMMER AND STITCH BREWING', 'ALESONG BREWING AND',
       'FONTA FLORA BREWERY', 'GOLDEN HANDLE PROJECT',
       'EVER GRAIN BREWING COMPANY', 'CASITA BREWING COMPANY',
       'JUNKYARD BREWING COMPANY', 'DECIDUOUS BREWING COMPANY',
       'STREETSIDE BREWERY', 'FREEBRIDGE BREWING', 'FLORIDA CARIBBEAN',
       'HEAVY REEL BREWING', 'SQUIRREL FIGHT ARTISAN',
       'KINGS COUNTY BREWERS', 'TRUE RESPITE BREWING COMPANY',
       'FALSE IDOL BREWING', 'RIDGELINE BREWING COMPANY',
       'OLD IRVING BREWING COMPANY', 'SINGHA NORTH AMERICA',
       'BAREBOTTLE BREWING COMPANY', 'PROTECTOR BREWERY LLC',
       'WHITE ELM BREWING COMPANY', 'BLACKSTACK BREWING',
       'THE RARE BARREL', 'MICKDUFFS BREWING COMPANY',
       'IMAGINE NATION BREWING COMPANY', 'PURE PROJECT',
       'SPOKANITE BREWING COMPANY', 'HERE TODAY BREWERY AND',
       'PERENNIAL PARTNERS', 'AURORA BREWING COMPANY',
       'TOPPLING GOLIATH BREWERY', 'NORTHWOOD PUBLIC HOUSE AND',
       'TRIPPING ANIMALS BREWING', 'SPINDLETAP BREWERY', 'DSSOLVR',
       'GOOD OMEN BOTTLING', 'JESTER KING CRAFT BREWERY',
       'CHARLES TOWNE FERMENTORY', 'BARRIER BREWING COMPANY',
       'BITTER ROOT BREWING', 'LEVANTE BREWING INC', 'PINT SIZE BREWING',
       'COMMON ROOTS BREWING', '3 SONS BREWING COMPANY',
       'PUBLIC COAST BREWING', 'URBAN ARTIFACT',
       'HAAS INNOVATIONS BREWING', 'DESTINATION UNKNOWN BEER',
       'CENTRAL COAST BREWING', 'AWAY DAYS BREWING LLC',
       'URBAN SOUTH BREWERY', 'WILD LEAP', 'NEIGHBOR DUDES',
       'ENERGY CITY BREWING', 'SOURCE BREWING', 'HEIST BREWING',
       'OLD NATION BREWING COMPANY', 'BROUWERIJ WEST',
       'HOOSIER BREWING COMPANY', 'ROSE GARAGE', 'MODERN TIMES BEER',
       'BRICK AND FEATHER BREWERY', 'LISTERMANN BREWING COMPANY',
       'XUL BEER COMPANY', 'SHIMAI TOSHI BREWING',
       'HOPFLY BREWING COMPANY', 'HORNELL BREWING COMPANY', 'BREW BAKERS',
       'LIVING HAUS BEER COMPANY', 'BREAKING WAVES BREWING',
       'THREES BREWING', 'ICARUS BREWING COMPANY',
       'SMOG CITY BREWING COMPANY', 'DRAKES BREWING COMPANY',
       'TRUSTY BREWING COMPANY', 'FIFTH FRAME BREWING COMPANY',
       'BARDIC BREWING', 'DUNAGAN BREWING COMPANY',
       'WILDLAND COOPERATIVE', 'MAST LANDING BREWING',
       'PONDASETA BREWING COMPANY', 'SINGLECUT BEERSMITHS',
       'EAGLE PARK BREWING COMPANY', 'FOUNDATION BREWING COMPANY',
       'BRIX CITY BREWING', 'TWENTY-EIGHT TEN LLC',
       'RADIANT BEER COMPANY', 'PRECIOUS THINGS',
       'ALLAGASH BREWING COMPANY', 'STONECLOUD BREWING COMPANY', 'SLRRRP',
       'ZEN ZYMURGIST FERMENTATION', 'CROOKED STAVE ARTISAN BEER',
       'TOP KNOT BREWING', 'TWO TIDES BREWING COMPANY',
       'DANKHOUSE BREWING COMPANY', 'OLOGY BREWING COMPANY',
       'NEW WORLD BEVERAGES', 'ASLIN BEER COMPANY',
       'WESTBOUND AND DOWN BREWERY', 'INGENIOUS BREWING COMPANY',
       'FAIR STATE BREWING', 'COPPER KETTLE BREWING',
       'AUSTIN BROTHERS BEER', 'ODD MUSE BREWING COMPANY',
       'EASTERN LIQUORS USA', 'COLDFIRE BREWING', 'RHINEGEIST BREWERY',
       'PONO BREWING COMPANY', 'NEW ANTHEM BEER PROJECT', 'FINBACK',
       'GILGAMESH BREWING', 'CUSHWA BREWING COMPANY',
       'TURNING POINT BEER', 'FIFTYFIFTY BREWING COMPANY',
       'DANCING GNOME BEER', 'RAR BREWING', 'SCHILLING BEER COMPANY',
       'URBAN CHESTNUT BREWING', 'RIVERLANDS BREWING COMPANY',
       'HIDDEN SPRINGS ALE WORKS', 'BARREL OF MONKS BREWERY',
       'CORPORATE LADDER BREWING', 'WEATHERED SOULS BREWING',
       'CONNECTICUT VALLEY BREWING', 'TOMBSTONE BREWING COMPANY',
       'RIVERBEND BREWING', 'CIVIL SOCIETY BREWING COMPANY',
       'FORGOTTEN ROAD ALES', 'THE SELKIRK ABBEY BREWING',
       'PLAIN BREWING', 'ALVARIUM BEER COMPANY',
       'LIQUID LOVE BREWING COMPANY', 'BYRON ST BREWERY', 'PEAR UP CIDER',
       'STELLWAGEN BEER COMPANY', 'INDEED BREWING COMPANY',
       'BURIAL BEER COMPANY', 'ABNORMAL BEER COMPANY',
       'TORCH AND CROWN BREWING COMPANY', 'J WAKEFIELD BREWING',
       'MIKERPHONE BREWING', 'LIL BEAVER BREWERY', '8TH WONDER BREWERY',
       'BANDI OVERSEAS TRADING', 'OLIPHANT BREWING',
       'SOCIAL PROJECT BREWING', 'INTERNATIONAL DISTILLERS',
       'WREN HOUSE BREWING COMPANY', 'ARVON BREWING COMPANY',
       'KINE KOMBUCHA', 'BREW GENTLEMEN', 'LUA BREWING',
       'WYNDRIDGE FARM BREWING', 'ALMA MADER BREWING',
       'MONDAY NIGHT BREWING', 'DROWNED LANDS BREWERY',
       'INTERBORO SPIRITS AND ALES', 'SUNRIVER BREWING COMPANY',
       'FIFTH HAMMER BREWING COMPANY', 'NEWGRASS BREWING COMPANY',
       'TALEA BEER', 'RESIDENT CULTURE', 'CASEY BREWING AND BLENDING',
       'FATHOM AND LEAGUE HOP YARD', 'CEREBRAL BREWING',
       'VOODOO BREWING COMPANY', 'LAKEWOOD BREWING COMPANY',
       'DENVER BEER COMPANY', 'DIVINE BARREL BREWING',
       'HUNGA DUNGA BREWING COMPANY', 'KANSAS CITY BIER COMPANY',
       'BINARY BREWING LLC', '45 DEGREE BREWHOUSE',
       'HAIR OF THE DOG BREWING', 'GREAT RAFT BREWING LLC',
       'MIDNIGHT SUN BREWING', 'BY ALL MEANS', 'NEW MAITLAND BREWING LLC',
       'NORTH FORK BARREL HOUSE AND', 'BOILER BREWING COMPANY',
       'STONEFACE BREWING COMPANY', 'BARLOWS BREWERY',
       'DECIBEL BREWING COMPANY', 'ENCHANTMENT BREWING',
       'WOLFS RIDGE BREWING', 'DRASTIC MEASURES BREWING',
       'BREWERY VIVANT', 'FULL CIRCLE BREWING COMPANY',
       'MAPLEWOOD BREWING COMPANY', 'GRAND ARMORY BREWING',
       'CREATURE COMFORTS BREWING', 'DE GARDE BREWING',
       'GOOD BREWING CO BOTHELL', 'THE SHED',
       'ALPHA ACID BREWING COMPANY', 'CELLADOR ALES',
       'HIGHLAND PARK BREWERY', 'HILLBILLY BREWING COMPANY',
       'GNARLY BARLEY BREWING', 'SOUTHERN GRIST BREWING',
       'SPRING HOUSE BREWING COMPANY', 'BURGHERS BREWING',
       'EXHIBIT A BREWING COMPANY', 'BALD BIRDS BREWING COMPANY',
       'EIGHT AND SAND BEER COMPANY', 'SIDE PROJECT BREWING',
       'FALLING KNIFE BREWING', 'SAPWOOD CELLARS', 'BAA BAA BREWHOUSE',
       'GOLD BUCKLE BREWERY', 'FOUR NOSES BREWING COMPANY',
       'FIFTY WEST BREWING', 'EXILE BREWING COMPANY',
       'LOST GROVE BREWING LLC', 'ZIPLINE BREWING COMPANY',
       'WHITE ROOSTER FARMHOUSE', 'BERCHMANS BREWING COMPANY',
       'LOCAL CRAFT BEER', 'ORONO BREWING COMPANY',
       'STICK CITY BREWING COMPANY', 'PIPEWORKS BREWING COMPANY',
       'SAINT ERRANT BREWING', 'PLAN BEE FARM BREWERY',
       'SCRATCH BREWING COMPANY', 'BEWILDER BREWING COMPANY',
       'PENN COVE TAPROOM -', 'MAD SWEDE BREWING COMPANY',
       'CAPTAINS BREWING COMPANY', 'MAZAMA BREWING',
       'THUNDERHEAD BREWING COMPANY', 'ODD BREED WILD ALES',
       'TEMPERANCE BEER COMPANY', 'KENT FALLS BREWING COMPANY',
       'CONFLUENCE BREWING COMPANY', 'HILDEGARD FERMENTS AND',
       'WISE MAN BREWING', 'IMAGINE NATION BREWING',
       'BARRELHOUSE BREWING COMPANY', 'BULLFROG BREWERY',
       'THE ALE APOTHECARY', 'LIQUID GRAVITY BREWING',
       'HIGH BLUFF BREWING', 'MCMILLIN FARM', 'HAW RIVER FARMHOUSE ALES',
       'LEIKAM BREWING', 'FEARLESS BREWING COMPANY',
       'SANTIAM BREWING COMPANY', 'PEARL DISTRIBUTING',
       'ARCLIGHT BREWING COMPANY', 'E AND J GALLO WINERY',
       'BRIDGE 99 BREWERY', 'FROTH BREWING COMPANY', 'PRIMITIVE BEER',
       'GREAT WESTERN MALTING', 'HARDWARE BREWING COMPANY',
       'COIN TOSS BREWING', 'LOST BEAR BREWS', 'EIGHTY-TWO BEVERAGES',
       'NEIGEL VINTNERS', 'SPYGLASS BREWING COMPANY',
       'SEVERANCE BREWING COMPANY', 'NEBULEUS', 'MARBLE BREWERY',
       'JESSUP FARM BARREL HOUSE', 'DEFINITIVE BREWING COMPANY',
       'DARACH BREWING COMPANY', 'CELESTIAL BREWING', 'BREW EXPORT',
       'HOFBRAUHAUS OF AMERICA LLC', 'WETTEN IMPORTERS INC',
       'CUSTOM CALIFORNIA CRAFT', 'THUNDER ISLAND BREWING COMPANY',
       'SAINT ARCHER BREWING', 'GRAND PRIX BEVERAGE',
       'BRECKENRIDGE BREWERY', 'IMPORTERS DIRECT WHOLESALE',
       'STEVENS POINT BREWERY AND', 'THE BROOKLYN BREWERY',
       'LANIKAI BREWING COMPANY', 'LABATT USA', 'ANCHOR BREWING COMPANY',
       'NARRAGANSETT BREWING', 'KNEE DEEP BREWING COMPANY',
       'VERMONT HARD CIDER COMPANY', 'LOGSDON FARMHOUSE ALES',
       'CROOK AND MARKER LLC', 'THE GAMBRINUS COMPANY', 'BBL INC',
       'JACK DANIELS BEVERAGE', 'VINOCOM', '10 BARREL BREWING',
       'ST KILLIAN IMPORTING COMPANY', 'UNITED STATES BEVERAGE',
       'BOOCHCRAFT'], dtype=object)

In [ ]:
    brews_to_remove = ['ANHEUSER-BUSCH','MILLERCOORS','MARK ANTHONY BRANDS','PABST BREWING',
                       'THE BOSTON BEER COMPANY','NEW BELGIUM','SIERRA NEVADA BREWING','PHUSION PROJECTS',
                      'ALASKAN BREWING COMPANY','THE ODOM CORPORATION','HIGH FALLS OPERATING COMPANY']
    
# oregon breweries
#'NINKASI BREWERY','MCKENZIE RIVER BREWING','PFRIEM FAMILY BREWERS','FORT GEORGE BREWERY','PELICAN PUB AND BREWERY'
# 'WORTHY BREWING'
    
# ca
#'THE LAGUNITAS BREWING'

# mi
#'FOUNDERS BREWING COMPANY'
    
# CHECK ON
# , SCHOONER EXACT BREWING (san juan seltzer?)