In [1]:
# import statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

#from fancyimpute import KNN
#from fancyimpute import IterativeImputer
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

# settings
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
# load data
prod22 = pd.read_csv('Data/brewery_production_2022_melted.csv')

# remove total column
prod22 = prod22[prod22['month'] != 'total_annual']

In [3]:
# get breweries that opened in 2022
brew22 = prod22[prod22['year_established'] == 2022][['brewery']].drop_duplicates()['brewery'].tolist()
#brew22

# month of 2022 breweries
opening_month = {
    'Bizarre Brewing':10,
    'Byron Street Brewery':7,
    'Cursed Brewing':10,
    'Hildegard Ferments and Botanicals':2, #here
    'Hop Chaos Brewing Company':2,
    'Ladd and Lass Brewing':2,
    'Natural 20 Brewing Company':2,
    'No Drought Brewing Company':2,
    'Peace of Mind Brewing':2,
    'Remlinger Farm Brewery':2,
    'Ridgefield Craft Brewing Company':2,
    'Snow Eater Brewing Company':2,
    'Uprise Brewing Company':2,
    'Vice Beer':2,
    'Wild Oak Project':2,
    '45 Degree Brewhouse':2,
    'High Bluff Brewing':2,
    'Spokanite Brewing':2,
    'Top Knot Brewing':2,
    'Darach Brewing Company':2,
    'Common Language Brewing Company':2,
    'Griffin Brewing Pilot House':2,
    'New Maitland Brewing Llc':2
}

# input zeros for months prior to opening
months = {1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June',
         7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}

for k,v in opening_month.items():
    m = [value for key, value in months.items() if key < v]
    prod22['production'] = np.where((prod22['brewery'] == k) & (prod22['production'].isna()) & 
                                    (prod22['month'].isin(m)), 0, prod22['production'])

In [4]:
# check for consecutive nulls
prod22['is_null'] = prod22['production'].isnull().astype(int)
prod22['consec_nulls'] = prod22.groupby(['brewery', prod22['is_null'].eq(0).cumsum()])['is_null'].cumsum()
prod22['max_consec_nulls'] =  prod22.groupby(['brewery'])['consec_nulls'].transform(max)

# drop unnecessary columns
prod22.drop(columns=['is_null', 'consec_nulls'], inplace=True)

In [25]:
prod22.head(12)

,brewery,brewery_type,address,city,zipcode,county,latitude,longitude,year_established,guild_member,closed_since_2022,untappd_profile_link,month,production,max_consec_nulls
0,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,January,NaN,5
1,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,February,0.50,5
2,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,March,NaN,5
3,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,April,NaN,5
4,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,May,NaN,5
5,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,June,NaN,5
6,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,July,NaN,5
7,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,August,0.33,5
8,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,September,NaN,5
9,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,October,NaN,5
10,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,November,NaN,5
11,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,December,NaN,5

In [31]:
# interpolate for breweries with 3 or fewer consecutive nulls
# NOTES: quadratic doesn't work / doesn't work for Jan?

prod22['linear_interpolation'] = prod22.groupby('brewery')['production'].apply(
    lambda x: x.interpolate(method ='linear')).reset_index()['production']

prod22['production'] = np.where((prod22['max_consec_nulls'] <= 3) & (prod22['max_consec_nulls'] > 0),
                             prod22['linear_interpolation'],
                             prod22['production'])


prod22

TypeError: incompatible index of inserted column with frame index

In [10]:
# set total values of production grouped by brewery (null for consecutive missing > 3)

In [ ]:
# make example viz for report and presentation